@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none; 
}

*::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
